:root {
  --primary: #664de5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.3s;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
header {
  text-align: center;
  margin-bottom: 2rem;
}
.heading {
  font-size: 32px;
  font-weight: 700;
}
.steps {
  position: relative;
  width: 512px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.step {
  height: 3rem;
  width: 3rem;

  border-radius: 50%;
  background-color: white;

  text-align: center;
  line-height: 3rem;
  font-weight: 700;

  color: black;

  border: 0.1px solid #7a7a7a5c;

  cursor: pointer;
}
.step.done {
  color: white;
  background-color: #664de5;
}
footer {
  text-align: center;
}
.createWorkspace {
  width: 400px;
  height: 2.5rem;

  outline: none;
  border: none;

  border-radius: 6px;

  background-color: #664de5;
  color: white;

  font-size: 12px;
  font-weight: 300;

  cursor: pointer;
}
/* form */
.forms {
  display: flex;
}
main {
  width: 600px;
}
.form {
  padding-block: 2rem;
  width: 600px;
  height: 0;
  display: none;
  overflow: hidden;
}
.form.active {
  display: block;
  height: auto;
}

.form h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.form h5 {
  font-size: 14px;
  font-weight: 400;
  color: #aeaeae;
  margin-bottom: 0.5rem;
}
/* Form */
.form-input > div {
  display: flex;
  flex-direction: column;
}
.form-input p {
  padding: 1rem;
  border: 1px solid black;
  margin-block: 1rem;
  border-radius: 15px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
label {
  font-size: 16px;
  color: #686868;
  margin-bottom: 0.5rem;
}
input,
select {
  padding: 1rem;
  border-radius: 15px;
  outline: none;
  border: 1px solid #aeaeae;
  margin-bottom: 1rem;
}
/* utils */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-1 {
  width: 80%;
}
.gap {
  gap: 1rem;
}
.hidden {
  display: none;
}
.scale-x {
  transform: scaleX(3);
}
button {
  margin-bottom: 1rem;
}
.progressbar {
  position: relative;
  width: 100%;
  height: 1px;
  border: 0.25rem solid #afafaf;
  border-radius: 999px;
}
.subProgressbar {
  position: absolute;
  left: 0;
  top: -4px;
  width: 0%;
  border: 0.25rem solid #664de5;
  border-radius: 999px;
}
